ul.neo{
	display: inline-block;
	border:solid .1em #b2b2b2;
	padding: 0em;
	min-width: 5em;
	background: #333;
	color:#fff;
	text-align: center;
}
ul.neo li{
	height: 2.5em;
	list-style: none;
	padding: .0em .5em;
	cursor: default;
	position: relative;
	line-height: 2.5em;
}
ul.neo li.active,
ul.neo li:hover{
	background:#5E389B; /*ACENT COLOR*/
	color:#fff;
}
ul.neo li.default.active,
ul.neo li.default:hover{
	background: #5E389B;
	color:#fff;
}
ul.neo li.default{
	background:#503672;
}
ul.neo li:not(.default){
	display: none;
}
ul.neo li:not(.default){
	float: left;
	clear: both;
	width: calc(100% - 1em); /*UPDATE THIS CALC FROM LI PADDING, just double the value :)*/
}
